body{

font-family:Arial;

background:linear-gradient(to right,#7F7FD5,#86A8E7,#91EAE4);

display:flex;
justify-content:center;
align-items:center;

height:100vh;

}

.box{

background:white;

padding:40px;

border-radius:10px;

width:650px;

text-align:center;

box-shadow:0 0 10px gray;

}

textarea{

width:100%;
height:80px;
margin-bottom:10px;

}

input{

width:45%;
padding:8px;
margin:5px;

}

button{

background:#3498db;
color:white;

padding:10px 20px;

border:none;

border-radius:5px;

cursor:pointer;

}

.logout{
background:red;
}

.highlight{
background:yellow;
font-weight:bold;
}

.highlighted{
border:1px solid #ccc;
padding:10px;
}

.side{
display:flex;
gap:20px;
}

.side div{
width:50%;
border:1px solid #ccc;
padding:10px;
}

.meter{

width:100%;
height:25px;

background:#ddd;

border-radius:20px;

margin-bottom:15px;

}

.meter-bar{

height:25px;
width:0%;

border-radius:20px;

}